@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans/DMSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}   

/* Navbar container */
.navbar {
  margin: -8px; /* reset default margin */
  display: flex;
  justify-content: space-between; /* logo - menu - icons */
  align-items: center;
  background-color: #02455F; /* your blue color */
  padding: 10px 40px;
}

/* Logo */
.logo img {
  margin-top: 10px;
  height: 50px;  /* resize logo */
  width: auto;
}

/* Menu */
.menu {
  margin-top: 10px;
  display: flex;
  gap: 30px; /* space between links */
}

.menu a {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #f4b400; /* golden yellow highlight */
}

/* Active link (Home example) */
.menu a.active {
  color: #f4b400;
}

/* Icons */
.icons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.icons img {
  max-width: 28px;
  height: auto;
  filter: invert(100%); /* makes SVG icons white if they're black */
  cursor: pointer;
  transition: 0.3s ease;
}

.icons img:hover {
   filter: invert(80%) sepia(80%) saturate(5000%) hue-rotate(1deg) brightness(100%) contrast(100%);
 
}

.menu a.active {
  color: #f4b400; /* golden yellow */
  font-weight: 700; /* optional stronger highlight */
  border-bottom: 2px solid #f4b400; /* optional underline */
}