<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassify</title>
  <script src="../assets/js/header.js"></script>
  <script src="../assets/js/footer.js"></script>
  <script src="../assets/js/auth.js" defer></script>
  <link rel="stylesheet" href="../assets/css/login_style.css">
    <link rel="stylesheet" href="../assets/css/register_style.css">
  
</head>
<body>
  <my-header></my-header>

  <!-- Content will be loaded here -->
  <div id="auth-container"></div>

  <my-footer></my-footer>
</body>
</html>
