
<head>
  <link rel="stylesheet" href="../assets/css/header_styles.css">
  <script src="https://kit.fontawesome.com/fc5ceca38c.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="navbar">
  <div class="logo">
    <img src="../assets/img/logo.png" alt="GlassWorth Logo">
  </div>

  <nav class="menu">
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Products</a>
    <a href="#">FAQ</a>
    <a href="#">Projects</a>
  </nav>

  <div class="icons">
    <a href="#"><img src="../assets/img/shopping-cart.png" alt="Shopping_cart"></a>
    <a href="#"><img src="../assets/img/heart.png" alt="Wishlist"></a>
    <a href="#"><img src="../assets/img/user.png" alt="User"></a>
    
  </div>
</header>

</body>
